* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "sofia-pro", sans-serif;
}

.container {
  position: relative;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

.top-right {
  position: absolute;
  top: 15px;
  left: 490px;
  font-weight: bold;
  font-size: 45px;
  width: 290px;
  height: 210px;
}

img {
  width: 55%;
  height: 100vh;
}
